.calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
}

.calc-wrapper {
  width: 400px;
  max-height: 600px;
  box-shadow: 6px 7px 10px rgba(34, 33, 33, 0.6);
  background-color: black;
  border-radius: 20px;
}

.row {
  display: flex;
  width: 100%;
}
